body {
    width: 50vw;
    margin: 10px;
}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    left: 50px;
    background-color: #eee;
  } 
  
div.absolute {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 200px;
    height: 100px;
    background-color: #999;
  }

div.fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background-color: #eee
}